/* Used fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black: #131313;
    --light-gray: #727272;
    --orange: #FF900E;
    
}


/* Common styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
}

img{
    height: 100%;
    width: 100%;
}



.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;


}

/* nav and logo styling */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    background-color:  rgba(255, 144, 14, 0.1);

}

nav > ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav > ul > li > a{
    text-decoration: none;
    color: var(--light-gray);
}

/* hero section styling */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgba(255, 144, 14, 0.1);
    
}

.banner-text{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-title{
    color: var(--black);
    font-weight: 700;
    font-size: 4rem;
    padding-top: 2rem;
}

.banner-description{
    padding-top: 2rem;
    color: var(--light-gray);
    font-weight: 400;   
    font-size: 1rem;
}

.btn-style{
    padding-top: 2rem;
}

.btn-primary{
color: white;
padding: 1.5rem;
background-color: #FF900E;
border-radius: .5rem;
font-weight: 600;
font-size: 1.25rem;
border: none;
cursor: pointer;
}

.banner-img{
   padding: 50px 250px 50px 250px;
}

/* quick list styling */

.quick-list{
    display: flex;
    align-items: center;
    width: 100%;
    
}

.list-img-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 100%;
}

.list-img{

    border-radius: 10px;
    
    width: 342px;
    height: 342px;
    
    

}

.list-text{
    padding: 5rem;
}


/* features styling */

.text-img-main{
    padding-top: 30px;
    display: flex;
}

.text-primary{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
    width: 100%;
    
}


.main-features{
    border-left: 5px solid #FF900E;
    

}

.f-title{
    font-size: 45px;
}
.features-title{
    font-size: 20px;
    color: var(--black);

}

.features-description{
    font-size: 16;
    color: var(--light-gray);
}

.features-img{
   width: 50%;

}


.features-img-main{
width: 708px;
height: 982px;
width: 100%;
height: 100%;

}

/* facts styling */


.facts-text{
    padding-left: 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




.facts-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}



.box{
width: 230px;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid #FF900E;
border-radius: 8px;
transition: .4s;
}


.box:hover{
    color: white;
    background-color: var(--orange) ;
}

.box-icon{
width: 45.22px;
height: 45.22px;
}



/* sponsor styling */
.sponsor-txt{
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-logo{
    padding: 30px 0px 130px ;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 20px;
    width: 100%;
}

.logo-main{
    width: 180px;
    height: 50px;
    filter: grayscale(1);
}


/* footer styling */

.footer{
    font-size: 23px;
    height: 100px;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 30px;
}
.footer-text{
    padding-bottom: 10px;
    text-align: center;
}


@media screen and (max-width:576px) {

    nav {
        display: flex;
        flex-direction: column;
        background-color:  rgba(255, 144, 14, 0.1);}
        
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            list-style: none;
            gap: 10px;}

        .list-img{height: 100%;
            width:100%;}
        .banner-img{padding: 10px;}
         .banner{padding-top: 80px;}

         .banner-title{font-size: 1.5rem;}
         .banner-text{padding-bottom: 20px;}

         .btn-style{padding-top: 1rem;}
        
        .btn-primary{
        color: white;
        padding: .5rem;
        background-color: #FF900E;
        border-radius: .5rem;
        font-weight: 600;
        font-size: .5rem;
        border: none;}

        .quick-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;}
    
    .list-img-main{
                display: grid;
                grid-template-columns: repeat(1, 4fr);
                grid-row-gap: 10px;
                width: 50%}
            
                .list-text{
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    width: 100%;}
            
            /* feature  */

            .text-img-main{
                padding-top: 30px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                width: 100%;
            }
            .text-primary{
                width: 50%;
            }
            .features-img{
                width: 50%;
            }
            
            .features-img-main{
                width: 100%;
                height: 100%;
            }

            .main-features{
                border-left:none;}
            .f-title{
                font-size: 25px; }
            .text-primary{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-row-gap: 15px;
}
        

.facts-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}

    .facts-text{
     padding: 20px 0px 20px 25px;
    }


    .sponsor-txt{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    
    .s-logo{
        padding: 50px 0px 50px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        width: 100%;
    }
    
    .logo-main{
        width: 80px;
        height: 25px;
        filter: grayscale(1);
    }

    .footer{
        font-size: 16px;
        height: 100px;
        background-color: rgba(255, 144, 14, 0.1);
        padding: 30px;
    }
    .footer-text{
        padding-bottom: 10px;
        text-align: center;
    }
    

}
